<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title style="text-align: center; font-size: 28px;">Registro de usuario</ion-title> <!-- Título centrado -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="background-color: #808080;"> <!-- Fondo gris -->
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" style="text-align: center; font-size: 28px;">Registro de usuario</ion-title> <!-- Título centrado -->
    </ion-toolbar>
  </ion-header>
  <div style="background-color: black; color: yellow; padding: 20px; border-radius: 10px; border: 2px solid yellow; max-width: 400px; margin: 20px auto;">
    
    <!-- Campo de nombre -->
    <ion-item style="margin-bottom: 15px; --background: transparent;">
      <ion-label><strong>Nombre</strong></ion-label>
      <ion-input [(ngModel)]="nombre" type="text" placeholder="Ingrese su nombre" style="margin-left: 10px;"></ion-input>
    </ion-item>

    <!-- Campo de correo -->
    <ion-item style="margin-bottom: 15px; --background: transparent;">
      <ion-label><strong>Correo</strong></ion-label>
      <ion-input [(ngModel)]="correo" type="email" placeholder="Ingrese su correo" style="margin-left: 10px;"></ion-input>
    </ion-item>

    <!-- Campo de teléfono -->
    <ion-item style="margin-bottom: 15px; --background: transparent;">
      <ion-label><strong>Teléfono</strong></ion-label>
      <ion-input [(ngModel)]="telefono" type="tel" placeholder="Ingrese su teléfono" style="margin-left: 10px;"></ion-input>
    </ion-item>

    <!-- Campo de contraseña -->
    <ion-item style="margin-bottom: 15px; --background: transparent;">
      <ion-label><strong>Contraseña</strong></ion-label>
      <ion-input [(ngModel)]="contrasena" type="password" placeholder="Ingrese su contraseña" style="margin-left: 10px;"></ion-input>
    </ion-item>

    <!-- Campo para foto -->
    <ion-item>
      <ion-label>Foto</ion-label>
      <img *ngIf="imagen" [src]="imagen.src" height="100" width="100" alt="">
      <ion-button (click)="takePicture()" expand="block" fill="clear" shape="round">
        <ion-icon style="margin-right: 10px" slot="start" name="camera-outline">
          Tomar foto
        </ion-icon>
      </ion-button>
    </ion-item>

    <!-- Botón de Registro -->
    <div style="text-align: center; margin-top: 20px;">
      <ion-button expand="block" color="light" (click)="registro()">
        Registrarse
      </ion-button>
    </div>
  </div>
</ion-content>
