<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="volver()" ></ion-back-button>
    </ion-buttons>
    <ion-title>Lista de Viajes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let viaje of viajes">
      <ion-card>
        <img [src]="viaje.imagen" alt="Imagen del viaje" *ngIf="viaje.imagen" />
        <ion-card-header>
          <ion-card-subtitle>{{ viaje.fecha }}</ion-card-subtitle>
          <ion-card-title>{{ viaje.ubicacionorigen }} - {{ viaje.ubicaciondestino }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <strong>Costo: </strong>${{ viaje.costo }}
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="navigateToPageViajes()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
