.box {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    position: relative;
}

.box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/assets/images/fondo.gif');
    background-size: cover;
    background-position: center;
    filter: blur(2px);
    z-index: -1;
}

.image-container {
    display: flex;
    justify-content: center;  /* Centra la imagen horizontalmente */
    align-items: center;      /* Centra la imagen verticalmente */
  }

.login-container {
    display: flex;
    flex-direction: column; /* Puedes cambiar a row si prefieres los botones en una fila */
    justify-content: center; /* Centra los botones verticalmente */
    height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la pantalla */
    width: calc(100% - 40px); /* Calcula el ancho restante después de restar 5px de margen a cada lado */
    margin: 0 20px;
}