<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>ACCESO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="box">
    <div class="image-container">
      <img src="assets/images/logo.png" alt="logo" style="width: 70%; height: 70%; object-fit: cover;">
    </div>
    <hr>
    <div class="login-container">
      <ion-list>
        <ion-item>
          <ion-input [(ngModel)]="correo" label="Correo"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input [(ngModel)]="contrasena" label="Contraseña" type="password"></ion-input>
        </ion-item>
      </ion-list>
      <hr>
      <ion-button (click)="login()">Acceder</ion-button>
      <hr>
      <ion-button (click)="rContrasena()">Recuperar contraseña</ion-button>
      <hr>
      <ion-button (click)="registro()">Regístrate aquí</ion-button>
    </div>
    <!-- 'inicio/:numero', -->
  </div>

</ion-content>
