<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button (click)="volverButton()">Volver</ion-button>
    <ion-title style="text-align: center; font-size: 28px;">Vehículos</ion-title> <!-- Título centrado y más grande -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- Imagen del perfil centrada y más grande -->
  <div style="display: flex; justify-content: center; margin-top: 20px;">
    <div style="width: 200px; height: 200px; border: 2px solid #ccc; display: flex; justify-content: center; align-items: center;">
      <img src="assets/images/vehicle.jpg" alt="Imagen de perfil" style="width: 100%; height: 100%; object-fit: cover;" *ngIf="imagen">
      <ion-label *ngIf="!imagen">Imagen</ion-label>
    </div>
  </div>

  <!-- Datos del conductor centrados debajo de la imagen, alineados uno sobre otro -->
  <div style="text-align: center; margin-top: 30px;">

    <div style="margin-bottom: 15px;">
      <ion-label style="font-size: 17px;"><strong>Marca:</strong> Toyota</ion-label>
    </div>

    <div style="margin-bottom: 15px;">
      <ion-label style="font-size: 17px;"><strong>Patente:</strong> TSJO99</ion-label>
    </div>

    <div style="margin-bottom: 15px;">
      <ion-label style="font-size: 17px;"><strong>Color:</strong> Negro</ion-label>
    </div>

    <div style="margin-bottom: 15px;">
      <ion-label style="font-size: 17px;"><strong>Modelo:</strong> Toyota Fortuner</ion-label>
    </div>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="navigateToPageAgregarVehiculo()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>
