<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center; font-size: 28px;">Agregar Vehículo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="padding: 20px;">
  <div style="display: flex; justify-content: center; margin-bottom: 20px;">
    <!-- Imagen predeterminada o imagen seleccionada -->
    <ion-img
      *ngIf="imagen; else placeholderImage"
      [src]="imagen.src"
      style="width: 150px; height: 150px; border-radius: 50%; object-fit: cover;"
    ></ion-img>
    <ng-template #placeholderImage>
      <ion-img
        src="assets/images/anadir.jpg"
        style="width: 150px; height: 150px; border-radius: 50%; object-fit: cover;"
      ></ion-img>
    </ng-template>
  </div>

  <!-- Formulario para registrar vehículo -->
  <ion-list>
    <ion-item>
      <ion-label position="floating">Patente</ion-label>
      <ion-input type="text" [(ngModel)]="patente" placeholder="Ingrese la patente"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Marca</ion-label>
      <ion-input type="text" [(ngModel)]="marca" placeholder="Ingrese la marca"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Modelo</ion-label>
      <ion-input type="text" [(ngModel)]="modelo" placeholder="Ingrese el modelo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Año</ion-label>
      <ion-input type="number" [(ngModel)]="anio" placeholder="Ingrese el año"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Color</ion-label>
      <ion-input type="text" [(ngModel)]="color" placeholder="Ingrese el color"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Tipo de Combustible</ion-label>
      <ion-select [(ngModel)]="tipo_combustible" placeholder="Seleccione el tipo de combustible">
        <ion-select-option value="Gasolina">Gasolina</ion-select-option>
        <ion-select-option value="Diésel">Diésel</ion-select-option>
        <ion-select-option value="Eléctrico">Eléctrico</ion-select-option>
        <ion-select-option value="Híbrido">Híbrido</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <!-- Selección de imagen -->
  <ion-item>
    <ion-label>Imagen del Vehículo</ion-label>
    <ion-button expand="block" color="secondary" (click)="takePicture()">
      Tomar Foto
    </ion-button>
  </ion-item>

  <div style="text-align: center; margin-top: 20px;">
    <ion-button expand="full" color="primary" (click)="agregarVehiculo()">
      Agregar Vehículo
    </ion-button>
  </div>
</ion-content>
